:root {
    --azulDnc: #0C70F2;
    --pretoDnc: #303030;
    --cinzaDnc: #CCCCCC;
    --fontePadrao: 'Inter'
    }

body {
    margin: 0px;
    padding: 0px;
    background: linear-gradient(180deg, rgba(12, 112, 242, 0.5) 19.91%, rgba(12, 112, 242, 0) 24.84%), #303030;
    border: 1px solid #BABABA;
    background-repeat: no-repeat;
}
/*Menu de Navegação*/
#principal {
    width: 100%;
    height: 100px;
    background-color: var(--pretoDnc);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #bababa;
}
#principal a{
    font-family: var(--fontePadrao);
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;

    color: #FFFFFF;
    text-decoration: none;
}
#principal a:hover {
    color: #CCCCCC;
}
#principal button{
    font-family: var(--fontePadrao);
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;

    color: #FFFFFF;
    margin-right: 85px;
    width: 80px;
    height: 40px;
    background: var(--azulDnc);
    box-shadow: 3px 2px 4px rgba(12, 112, 242, 0.25);
    cursor: pointer;
}
#menu {
    display: flex;
    width: 50%;
    justify-content: space-around;
    align-items: center;
    margin-left: 80px;   
}
/*Sessão principal*/
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
}
header {
    color: white;
    font-family: var(--fontePadrao);
}
header h1{
    font-weight: 800;
    font-size: 80px;
    line-height: 97px;
    margin-bottom: 20px;
    text-align: center;
}
header h2{
    text-align: center;
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 150px;
}
header .invert{
    background-color: black;
    font-weight: bold;
    padding: 5px;
}
form{
    color: white;
    font-family: var(--fontePadrao);
    font-size: 30px;
    font-weight: 600;
    width: 600px;
}
.formGroup{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
}
form input{
    border-radius: 10px;
    height: 28px;
    padding: 15px;
    background: rgba(255, 255, 255, 0.9);
    border: 0px;
}
form label{
    margin: 10px 0 10px 0px;
}
form input::placeholder{
    color: rgba(57, 57, 57, 0.5);
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}
.checkboxItens label{
    font-weight: 600;
    font-size: 25px;
}
.checkboxItens{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
input[type="checkbox"] {
    transform: scale(1.7);
}
input[type="submit"]{
    background: rgba(12, 112, 242, 0.9);
    box-shadow: 0px 6px 4px rgba(12, 112, 242, 0.25);
    border-radius: 10px;
    width: 100%;
    height: 56px;
    font-weight: 600;
    font-size: 28px;
    line-height: 39px;
    color: #FFFFFF;
    margin-top: 86px;
    cursor: pointer;
    border: 0px;
}